{% set title = "Adventure Story" %}
{% include "_shared/partials/head.njk" %}

{% set isTopLevelStory = not currentItem or parentItem.topLevelStory %}
{% set currentItem = currentItem or data.topLevelStory %}

<div class="container">
  <div 
    id="app"
    class="p--2 mb--6 columns"
    data-o-save-deep="defaultSave"
    data-o-type="object"
  >
    <div class="column col-5 col-sm-12 col-mx-auto mt--2">
      {% if isTopLevelStory %}
        <h3 class="mb--2">The beginning of your story...</h3>
      {% else %}
        <a class="btn btn-primary mb--2" href="/{{ user.username }}/adventure-story/{{ parentItem.id }}">Back</a>
        <div class="story__current-choice bg-gray mb--2"><b>Your choice: </b>{{ currentItem.choiceText }}</div>
      {% endif %}

      {% include "adventure-story/partials/story.njk" %}
    </div>
  </div>
</div>

{% include "_shared/partials/footer.njk" %}







