<div 
  class="story"

  data-o-save-deep="id:{{ currentItem.id }}"
  data-o-type="object"
  data-o-key-id="{{ currentItem.id }}"
  data-o-key-text="{{ currentItem.text }}"
>
  <div 
    class="story__text" 
    data-i-editable="text(text-multi-line)"
    data-w-key-text="innerText"
  >{{ currentItem.text }}</div>
  <ul 
    class="story__choices"
    data-o-key="choices"
    data-o-type="list"
  >
    {% for choice in currentItem.choices %}
      {% include "adventure-story/partials/story-choice.njk" %}
    {% endfor %}
  </ul>
  {% if isLoggedIn %}
    <button 
      class="btn" 
      data-i-new="story-choice .story__choices"
    >New choice</button>
  {% endif %}
</div>






