<li>
  <a 
    class="block" 
    href="/story/{{ choice.id }}"

    data-o-type="object"
    data-o-key-id="{{ choice.id }}"
    data-o-key-choice-text="{{ choice.choiceText }}"
  >{{ choice.choiceText }}</a>
</li>