{% set title = "Remake Apps" %}
{% include "_shared/partials/head.njk" %}

<div class="container">
  <div class="columns">
    <div class="column col-5 col-xl-5 col-lg-8 col-sm-12 col-mx-auto py--4 text-center">
      <h1>Welcome!</h1>
      <a class="btn btn-primary btn-lg" href="/signup">Sign up!</a>
      <span> or </span>
      <a class="btn btn-primary btn-lg" href="/login">Log in!</a>
    </div>
  </div>
</div>

<script src="/dist/index.js"></script>

{% include "_shared/partials/footer.njk" %}








