{% set title = "Remake Apps" %}
{% include "_shared/partials/head.njk" %}

<div class="container">
  {% if user %}
    <div class="columns">
      <div class="column col-5 col-xl-5 col-lg-8 col-sm-12 col-mx-auto pt--4 mb--2 text-center">
        <h1>Welcome to Remake Apps</h1>
        <h4 class="mb--2 text-primary">Simple apps that solve complex problems</h4>
      </div>
    </div>
    <div class="columns mb--8">
      <div class="column col-3 col-sm-12 col-mx-auto">
        <div class="card">
          <div class="card-header">
            <div class="card-title h5">TaskFellow</div>
            <div class="card-subtitle text-gray">Kanban Board</div>
          </div>
          <div class="card-image">
            <img class="img-responsive border-vertical--light" src="/images/task-fellow.png" alt="TaskFellow Screenshot">
          </div>
          <div class="card-body">Organize multiple todo lists. Figure out what you're doing next.</div>
          <div class="card-footer">
            <a class="btn btn-primary" href="/task-fellow">Go to app</a>
          </div>
        </div>
      </div>
      <div class="column col-3 col-sm-12 col-mx-auto">
        <div class="card">
          <div class="card-header">
            <div class="card-title h5">Adventure Story</div>
            <div class="card-subtitle text-gray">Choose your story</div>
          </div>
          <div class="card-image">
            <img class="img-responsive border-vertical--light" src="/images/adventure-story.png" alt="TaskFellow Screenshot">
          </div>
          <div class="card-body">Create an adventure story with many possible endings!</div>
          <div class="card-footer">
            <a class="btn btn-primary" href="/adventure-story">Go to app</a>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="columns">
      <div class="column col-5 col-xl-5 col-lg-8 col-sm-12 col-mx-auto py--4 text-center">
        <h1>Welcome to TaskFellow</h1>
        <h4 class="mb--2 text-primary">Make complex projects simple.</h4>
        <a class="btn btn-primary btn-lg" href="/signup">Sign up!</a>
      </div>
    </div>
  {% endif %}
</div>

<script src="/dist/index.js"></script>

{% include "_shared/partials/footer.njk" %}













